#row{
    background-color: black;
    height: 5px;
    width: 658px;
}
#container{
    display: flex;
    margin: auto;
    justify-content: center;

}

#puzzle{
    text-align: center;
}
#submit{
    margin-top: 10px;
    background-color: rgb(88, 192, 91);
    height: 30px;
    width: 60px;
    border-radius: 5px;
}